
{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block content %} 
{{ block.super}}


<body style="text-align:center; background:url('static/img/slum.jpg');color:white;">
<br>
<br>
<br>
    <div class="container"  >

  <!-- Looping through news   -->
  {% for payment in payments %}

        <div class="row">
    <!-- displaying News articles -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> {{ payment.title }} </h2>
            </div>

        </div>

  {% empty %}
        <div class="row">
        <h2 class="text-center">No Transactions done yet</h2>
        </div>
  {% endfor %}

    </div>

</body>

{% endblock %}






{% extends 'base.html' %}
{% block content %}
{{ block.super}}
{% load bootstrap3 %}
{% load static %}



<div class="container">
    <h1>No Transactions done yet</h1>
{% for bill in bills %}

<p> AMOUNT :{{ bill.amount}}</p>
<p> PHONE NUMBER :{{ bill.phone_number }}</p>


{% endfor %}
</div>

{% endblock %}

