{% extends 'base.html' %}
{% block content %}
{{ block.super}}
{% load bootstrap3 %}
{% load static %}


<body style="background:url('static/img/slum.jpg');text-align:center;">
<br>
<br>
<br>
<br>
    <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <h1 style="font-weight:bold;font-size:65px; color:#eedc12;">No Transactions done yet</h1>
        {% for bill in bills %}

       <table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>


        {% endfor %}
    </div>

        {% endblock %}
</body>