{%extends 'base.html'%} 
{% block content %}
<body  style="background:url('static/img/slum.jpg');text-align:center;">
  
​
        <div class="container">
​
            <div class="row"  style="background:url('static/img/slum.jpg');text-align:center;">
              {% if payment %}
             <h2>Found {{ payment|length }} of searched term {{message}}</h2>
            {% else %}
              <h2> Found 0 payment for the search term {{message}}</h2>
            {% endif %}
​
             </div>
​
            <div class="row">
​
            {% if payment %}
            {% for payment in payment %}
            <div class="col-sm-6 col-md-3">
            <h1>{{payment.name}}</h1>
          <p>{{ payment.amount}}</p>
          <p>{{payment.account}}</p>
          <p>{{payment.phone_Number}}</p>
          <p>{{payment.timestamp}}</p>
​
​
            </div>
             {% endfor %}
                {% endif %}
             </div>
            </div>
</body> 
{% endblock %}